/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-primary: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --text-weight: 400;
  --wght-title: 700;
  --text-container-max-width: 696px;
  --color-primary: #000;
  --text-color: #000;
  --hover-text-color: white;
  --header-section-max-width: 700px;
  --header-section-min-width: 375px;
  --card-min-width: 375px;
  --card-max-width: 698px;
  --card-padding: clamp(1rem, 2vw, 2rem);
  --button-min-width: 306px;
  --button-max-width: 335px;
  --button-min-height: 55px;
  --button-max-height: 84px;
  --color-shadow: #000;
  --stroke-color: #000;
  --focus-border-color: #000;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color_container: #fff;
  --background-color_button: #fff;
  --contour: #000;
  --sparks: #ff0000;
  --active-heart-color: red;
}
